[project]
	description = Open vSwitch Database Management Protocol
[receive]
	requireSignedOffBy = true
[access "refs/*"]
	owner = group ldap/gerrit-ovsdb-commiters
	read = group GitHub Replication
[submit]
	action = rebase if necessary
[allowSuperproject "docs"]
	matching = refs/heads/stable/carbon:refs/heads/stable/carbon
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/stable/lithium:refs/heads/stable/lithium
