[project]
	state = active
	description = Open vSwitch Database Management Protocol
[receive]
	requireSignedOffBy = true
[access "refs/*"]
	owner = group ldap/gerrit-ovsdb-commiters
	read = group Administrators
	read = group Anonymous Users
	read = group Non-interactive ovsdb users
	read = group Registered Users
	read = group ldap/gerrit-ovsdb-commiters
	forgeServerAsCommitter = group ldap/gerrit-ovsdb-commiters
[access "refs/for/refs/*"]
	push = group Registered Users
	push = group ldap/gerrit-ovsdb-commiters
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group ldap/gerrit-ovsdb-commiters
	label-Code-Review = -1..+1 group Non-interactive ovsdb users
	label-Code-Review = -1..+1 group Registered Users
	label-Verified = -1..+1 group Non-interactive ovsdb users
	label-Verified = -1..+1 group ldap/gerrit-ovsdb-commiters
	submit = group ldap/gerrit-ovsdb-commiters
[access "refs/tags/*"]
	pushTag = group ldap/gerrit-ovsdb-commiters
