[project]
	description = Open vSwitch Database Management Protocol
[receive]
	requireSignedOffBy = true
[access "refs/*"]
	owner = group ldap/odl-gerrit-ovsdb-committers
	owner = group saml/odl-gerrit-ovsdb-committers
	read = group GitHub Replication
[submit]
	action = rebase if necessary
[allowSuperproject "docs"]
	matching = refs/heads/stable/nitrogen:refs/heads/stable/nitrogen
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/stable/nitrogen:refs/heads/stable/nitrogen
