#Timeout value (in millisecond) after which OVSDB rpc task will be cancelled.
#Default value is set to 1000ms, please uncomment and override the value if requires
#Changing the value don't require controller restart.
# ovsdb-rpc-task-timeout = 1000
# use-ssl = false
